# Pretraining data from Wind and Solar data for Transfer Learning

## Pre training on Wind Data

In [0]:
import os
import pandas as pd
from google.colab import auth
from datetime import datetime
auth.authenticate_user()
!gcloud source repos clone github_aistream-peelout_flow-forecast --project=gmap-997
os.chdir('/content/github_aistream-peelout_flow-forecast')
!git checkout -t origin/covid_fixes
!python setup.py develop
!pip install -r requirements.txt
!mkdir data
from flood_forecast.trainer import train_function
!pip install git+https://github.com/CoronaWhy/task-geo.git
!wandb login

In [0]:
# Get wind data
!wget https://storage.googleapis.com/coronaviruspublicdata/forecast_2/wind.csv
!wget https://storage.googleapis.com/coronaviruspublicdata/forecast_2/solar.csv

In [0]:
import pandas as pd
wind = pd.read_csv('wind.csv')
wind['datetime'] = pd.to_datetime(wind['time']).dt.date
wind.set_index('datetime', drop=False)
wind.head()

                  time        AT        BE  ...        SE        UK    datetime
0  1986-01-01 00:00:00  0.047786  0.023020  ...  0.017463  0.030419  1986-01-01
1  1986-01-02 00:00:00  0.045921  0.036297  ...  0.008086  0.022146  1986-01-02
2  1986-01-03 00:00:00  0.067308  0.021352  ...  0.010004  0.060345  1986-01-03
3  1986-01-04 00:00:00  0.043833  0.050756  ...  0.009546  0.030981  1986-01-04
4  1986-01-05 00:00:00  0.082394  0.014302  ...  0.013872  0.023346  1986-01-05

[5 rows x 30 columns]

In [0]:
# Getting the real countries' name from 2 letter code

!pip install pycountry
import pycountry
names = {}
for code in wind.columns:
    try:
        names[code] = pycountry.countries.get(alpha_2=code).name
    except:
        print(code)

# For some reason, these two were not present
names['EL'] = 'Greece'
names['UK'] = 'United Kingdom'

Collecting pycountry
  Downloading https://files.pythonhosted.org/packages/16/b6/154fe93072051d8ce7bf197690957b6d0ac9a21d51c9a1d05bd7c6fdb16f/pycountry-19.8.18.tar.gz (10.0MB)
     |████████████████████████████████| 10.0MB 2.7MB/s
Building wheels for collected packages: pycountry
  Building wheel for pycountry (setup.py) ... done
  Created wheel for pycountry: filename=pycountry-19.8.18-py2.py3-none-any.whl size=10627361 sha256=cc9554e8cf6849198cb62e2d68fa6b20b9df33d86087e0184e32b029a6370e70
  Stored in directory: /root/.cache/pip/wheels/a2/98/bf/f0fa1c6bf8cf2cbdb750d583f84be51c2cd8272460b8b36bd3
Successfully built pycountry
Installing collected packages: pycountry
Successfully installed pycountry-19.8.18
time
EL
UK
datetime

In [0]:
wind.rename(columns = names, inplace=True)
wind['year'] = pd.to_datetime(wind['time']).map(lambda x: x.year)
wind['month'] = pd.to_datetime(wind['time']).map(lambda x: x.month)
wind['weekday'] = pd.to_datetime(wind['time']).map(lambda x: x.weekday())

In [0]:
# Making seperate dataframes for each country's data and saving in seperate CSV files
!mkdir wind
country_wise = {}
for country in names.values():
    country_wise[country] = wind[['datetime', 'year', 'month', 'weekday', country]]
    country_wise[country].to_csv('wind/'+country+'.csv')
country_wise[list(country_wise.keys())[5]].head()

     datetime  year  month  weekday   Germany
0  1986-01-01  1986      1        2  0.031583
1  1986-01-02  1986      1        3  0.023506
2  1986-01-03  1986      1        4  0.046181
3  1986-01-04  1986      1        5  0.025011
4  1986-01-05  1986      1        6  0.028168

In [0]:
wind.tail()

                      time   Austria   Belgium  ...  year  month  weekday
10952  2015-12-27 00:00:00  0.119231  0.077324  ...  2015     12        6
10953  2015-12-28 00:00:00  0.128963  0.087688  ...  2015     12        0
10954  2015-12-29 00:00:00  0.094872  0.028177  ...  2015     12        1
10955  2015-12-30 00:00:00  0.086713  0.054810  ...  2015     12        2
10956  2015-12-31 00:00:00  0.111772  0.095547  ...  2015     12        3

[5 rows x 33 columns]

In [0]:
# Config file for WanDB sweeps

def make_config_file(file_path, df_len):
  run = wandb.init(project="pretrain-wind")
  wandb_config = wandb.config
  train_number = df_len * .7
  validation_number = df_len *.9
  config_default={                 
    "model_name": "MultiAttnHeadSimple",
    "model_type": "PyTorch",
    "model_params": {
      "number_time_series":4,
      "seq_len":wandb_config["forecast_history"], 
      "output_seq_len":wandb_config["out_seq_length"],
      "forecast_length":wandb_config["out_seq_length"]
     },
    "dataset_params":
    {  "class": "default",
       "training_path": file_path,
       "validation_path": file_path,
       "test_path": file_path,
       "batch_size":wandb_config["batch_size"],
       "forecast_history":wandb_config["forecast_history"],
       "forecast_length":wandb_config["out_seq_length"],
       "train_end": int(train_number),
       "valid_start":int(train_number+1),
       "valid_end": int(validation_number),
       "target_col": [file_path.split('.')[0].split('/')[1]],
       "relevant_cols": [file_path.split('.')[0].split('/')[1], "month", "weekday", "year"],
       "scaler": "StandardScaler", 
       "interpolate": False
    },
    "training_params":
    {
       "criterion":"MSE",
       "optimizer": "Adam",
       "optim_params":
       {

       },
       "lr": wandb_config["lr"],
       "epochs": 10,
       "batch_size":wandb_config["batch_size"]
    
    },
    "GCS": False,
    
    "sweep":True,
    "wandb":False,
    "forward_params":{},
   "metrics":["MSE"],
   "inference_params":
   {     
         "datetime_start":"2010-01-01",
          "hours_to_forecast":2000, 
          "test_csv_path":file_path,
          "decoder_params":{
              "decoder_function": "simple_decode", 
            "unsqueeze_dim": 1
          },
          "dataset_params":{
             "file_path": file_path,
             "forecast_history":wandb_config["forecast_history"],
             "forecast_length":wandb_config["out_seq_length"],
             "relevant_cols": [file_path.split('.')[0].split('/')[1], "month", "weekday", "year"],
             "target_col": [file_path.split('.')[0].split('/')[1]],
             "scaling": "StandardScaler",
             "interpolate_param": False
          }
      }
  }
  wandb.config.update(config_default)
  return config_default

sweep_config = {
  "name": "Default sweep",
  "method": "grid",
  "parameters": {
        "batch_size": {
            "values": [2]
        },
        "lr":{
            "values":[0.001]
        },
        "forecast_history":{
            "values":[1, 2]
        },
        "out_seq_length":{
            "values":[1, 2]
        }
    }
}

Run sweep

In [0]:
import os
import pandas as pd

# The countries we will be pretraining our wind data on
os.listdir('wind')

['Lithuania.csv',
 'Bulgaria.csv',
 'Ireland.csv',
 'Netherlands.csv',
 'Slovenia.csv',
 'Croatia.csv',
 'Spain.csv',
 'Germany.csv',
 'Romania.csv',
 'Greece.csv',
 'Hungary.csv',
 'Portugal.csv',
 'Belgium.csv',
 'Austria.csv',
 'Norway.csv',
 'Poland.csv',
 'United Kingdom.csv',
 'Latvia.csv',
 'France.csv',
 'Denmark.csv',
 'Switzerland.csv',
 'Finland.csv',
 'Estonia.csv',
 'Italy.csv',
 'Luxembourg.csv',
 'Sweden.csv',
 'Slovakia.csv',
 'Czechia.csv']

In [0]:
import wandb
for country in os.listdir('wind'):
    file_path = 'wind/'+country
    full_len = len(pd.read_csv(file_path))
    sweep_id = wandb.sweep(sweep_config, project="pretrain-wind")
    wandb.agent(sweep_id, lambda:train_function("PyTorch", make_config_file(file_path, full_len)))
    !gsutil cp -n -r model_save gs://coronaviruspublicdata/pretrained

Believe me, the above cell executed. It just took... 13 hours to do so.