# Pretraining data from Wind and Solar data for Transfer Learning

In [0]:
import os
import pandas as pd
from google.colab import auth
from datetime import datetime
auth.authenticate_user()
!gcloud source repos clone github_aistream-peelout_flow-forecast --project=gmap-997
os.chdir('/content/github_aistream-peelout_flow-forecast')
!git checkout -t origin/covid_fixes
!python setup.py develop
!pip install -r requirements.txt
!mkdir data
from flood_forecast.trainer import train_function
!pip install git+https://github.com/CoronaWhy/task-geo.git
!wandb login

In [0]:
# Get wind data
!wget https://storage.googleapis.com/coronaviruspublicdata/forecast_2/wind.csv
!wget https://storage.googleapis.com/coronaviruspublicdata/forecast_2/solar.csv

## Pre training on Wind Data

In [4]:
import pandas as pd
wind = pd.read_csv('wind.csv')
wind['datetime'] = pd.to_datetime(wind['time']).dt.date
wind.set_index('datetime', drop=False)
wind.head()

                  time        AT        BE  ...        SE        UK    datetime
0  1986-01-01 00:00:00  0.047786  0.023020  ...  0.017463  0.030419  1986-01-01
1  1986-01-02 00:00:00  0.045921  0.036297  ...  0.008086  0.022146  1986-01-02
2  1986-01-03 00:00:00  0.067308  0.021352  ...  0.010004  0.060345  1986-01-03
3  1986-01-04 00:00:00  0.043833  0.050756  ...  0.009546  0.030981  1986-01-04
4  1986-01-05 00:00:00  0.082394  0.014302  ...  0.013872  0.023346  1986-01-05

[5 rows x 30 columns]

In [5]:
# Getting the real countries' name from 2 letter code

!pip install pycountry
import pycountry
names = {}
for code in wind.columns:
    try:
        names[code] = pycountry.countries.get(alpha_2=code).name
    except:
        print(code)

# For some reason, these two were not present
names['EL'] = 'Greece'
names['UK'] = 'United Kingdom'

Collecting pycountry
  Downloading https://files.pythonhosted.org/packages/16/b6/154fe93072051d8ce7bf197690957b6d0ac9a21d51c9a1d05bd7c6fdb16f/pycountry-19.8.18.tar.gz (10.0MB)
     |████████████████████████████████| 10.0MB 71kB/s
Building wheels for collected packages: pycountry
  Building wheel for pycountry (setup.py) ... done
  Created wheel for pycountry: filename=pycountry-19.8.18-py2.py3-none-any.whl size=10627361 sha256=f398b4cdbe7925f75177f82e6f7dfabcbe5c1deb87caba9c22abe3f176ef29ea
  Stored in directory: /root/.cache/pip/wheels/a2/98/bf/f0fa1c6bf8cf2cbdb750d583f84be51c2cd8272460b8b36bd3
Successfully built pycountry
Installing collected packages: pycountry
Successfully installed pycountry-19.8.18
time
EL
UK
datetime

In [0]:
wind.rename(columns = names, inplace=True)
# wind['year'] = pd.to_datetime(wind['time']).map(lambda x: x.year)
wind['month'] = pd.to_datetime(wind['time']).map(lambda x: x.month)
wind['weekday'] = pd.to_datetime(wind['time']).map(lambda x: x.weekday())

In [7]:
# Making seperate dataframes for each country's data and saving in seperate CSV files
!mkdir wind
country_wise = {}
for country in names.values():
    country_wise[country] = wind[['datetime', 'month', 'weekday', country]]
    country_wise[country].to_csv('wind/'+country+'.csv')
country_wise[list(country_wise.keys())[5]].head()

     datetime  month  weekday   Germany
0  1986-01-01      1        2  0.031583
1  1986-01-02      1        3  0.023506
2  1986-01-03      1        4  0.046181
3  1986-01-04      1        5  0.025011
4  1986-01-05      1        6  0.028168

In [8]:
wind.tail()

                      time   Austria   Belgium  ...    datetime  month  weekday
10952  2015-12-27 00:00:00  0.119231  0.077324  ...  2015-12-27     12        6
10953  2015-12-28 00:00:00  0.128963  0.087688  ...  2015-12-28     12        0
10954  2015-12-29 00:00:00  0.094872  0.028177  ...  2015-12-29     12        1
10955  2015-12-30 00:00:00  0.086713  0.054810  ...  2015-12-30     12        2
10956  2015-12-31 00:00:00  0.111772  0.095547  ...  2015-12-31     12        3

[5 rows x 32 columns]

In [0]:
# Config file for WanDB sweeps

def make_config_file(file_path, df_len):
  run = wandb.init(project="pretrained-wind-updated")
  wandb_config = wandb.config
  train_number = df_len * .7
  validation_number = df_len *.9
  config_default={                 
    "model_name": "MultiAttnHeadSimple",
    "model_type": "PyTorch",
    "model_params": {
      "number_time_series": 3,
      "seq_len":wandb_config["forecast_history"], 
      "output_seq_len":wandb_config["out_seq_length"],
      "forecast_length":wandb_config["out_seq_length"]
     },
    "dataset_params":
    {  "class": "default",
       "training_path": file_path,
       "validation_path": file_path,
       "test_path": file_path,
       "batch_size":wandb_config["batch_size"],
       "forecast_history":wandb_config["forecast_history"],
       "forecast_length":wandb_config["out_seq_length"],
       "train_end": int(train_number),
       "valid_start":int(train_number+1),
       "valid_end": int(validation_number),
       "target_col": [file_path.split('.')[0].split('/')[1]],
       "relevant_cols": [file_path.split('.')[0].split('/')[1], "month", "weekday"],
       "scaler": "StandardScaler", 
       "interpolate": False
    },
    "training_params":
    {
       "criterion":"MSE",
       "optimizer": "Adam",
       "optim_params":
       {

       },
       "lr": wandb_config["lr"],
       "epochs": 10,
       "batch_size":wandb_config["batch_size"]
    
    },
    "GCS": False,
    
    "sweep":True,
    "wandb":False,
    "forward_params":{},
   "metrics":["MSE"],
   "inference_params":
   {     
         "datetime_start":"2010-01-01",
          "hours_to_forecast": 2000, 
          "test_csv_path":file_path,
          "decoder_params":{
              "decoder_function": "simple_decode", 
            "unsqueeze_dim": 1
          },
          "dataset_params":{
             "file_path": file_path,
             "forecast_history":wandb_config["forecast_history"],
             "forecast_length":wandb_config["out_seq_length"],
             "relevant_cols": [file_path.split('.')[0].split('/')[1], "month", "weekday"],
             "target_col": [file_path.split('.')[0].split('/')[1]],
             "scaling": "StandardScaler",
             "interpolate_param": False
          }
      }
  }
  wandb.config.update(config_default)
  return config_default

sweep_config = {
  "name": "Default sweep",
  "method": "grid",
  "parameters": {
        "batch_size": {
            "values": [2]
        },
        "lr":{
            "values":[0.001]
        },
        "forecast_history":{
            "values":[1, 2]
        },
        "out_seq_length":{
            "values":[1, 2]
        }
    }
}

Run sweep

In [10]:
import os
import pandas as pd

# The countries we will be pretraining our wind data on
os.listdir('wind')

['Spain.csv',
 'Switzerland.csv',
 'Austria.csv',
 'Italy.csv',
 'Slovenia.csv',
 'Portugal.csv',
 'Germany.csv',
 'Ireland.csv',
 'Sweden.csv',
 'Denmark.csv',
 'Romania.csv',
 'Hungary.csv',
 'Estonia.csv',
 'Bulgaria.csv',
 'Croatia.csv',
 'Slovakia.csv',
 'Netherlands.csv',
 'Latvia.csv',
 'Norway.csv',
 'Czechia.csv',
 'Poland.csv',
 'United Kingdom.csv',
 'Lithuania.csv',
 'Finland.csv',
 'Belgium.csv',
 'Greece.csv',
 'Luxembourg.csv',
 'France.csv']

In [0]:
# This definitely works
import wandb
for country in os.listdir('wind'):
    file_path = 'wind/'+country
    full_len = len(pd.read_csv(file_path))
    sweep_id = wandb.sweep(sweep_config, project="pretrained-wind-updated")
    wandb.agent(sweep_id, lambda:train_function("PyTorch", make_config_file(file_path, full_len)))
    !gsutil cp -n -r model_save gs://coronaviruspublicdata/pretrained

In [0]:
# It gave some errors, maybe some encoding ones.
import wandb
!mkdir model_save
for country in os.listdir('wind'):
    file_path = 'wind/'+country
    full_len = len(pd.read_csv(file_path))
    sweep_id = wandb.sweep(sweep_config, project="pretrained-wind-updated")
    paths = []
    if len(os.listdir("model_save"))>1:
        print("will use transfer")
        weight_files = filter(lambda x: x.endswith(".pth"), os.listdir("model_save")) 
        for weight_file in weight_files:
          paths.append(os.path.join("model_save", weight_file)) 
        correct_file = max(paths, key = os.path.getctime)
        print(correct_file) 
        wandb.agent(sweep_id, lambda:train_function("PyTorch", make_config_file(correct_file, full_len)))
    else:
        wandb.agent(sweep_id, lambda:train_function("PyTorch", make_config_file(file_path, full_len)))
    print("sucessfully completed sweep for: " + file_path)
    !gsutil cp -n -r model_save gs://coronaviruspublicdata/pretrained

Believe me, the above cell executed. It just took... 13 hours to do so.

**Check out the sweeps here :**  *https://app.wandb.ai/pranjalya/pretrained-wind-updated*

## Pre Training on Solar Data

In [0]:
import pandas as pd
solar = pd.read_csv('solar.csv')

In [0]:
solar.head()

             LocalTime  Power(MW)  ...  Power(MW).135  Power(MW).136
0  2006-01-01 00:00:00        0.0  ...            0.0            0.0
1  2006-01-01 01:00:00        0.0  ...            0.0            0.0
2  2006-01-01 02:00:00        0.0  ...            0.0            0.0
3  2006-01-01 03:00:00        0.0  ...            0.0            0.0
4  2006-01-01 04:00:00        0.0  ...            0.0            0.0

[5 rows x 138 columns]

In [0]:
solar.describe()

         Power(MW)  Power(MW).1  ...  Power(MW).135  Power(MW).136
count  5832.000000  5832.000000  ...    5832.000000    5832.000000
mean     97.990021    72.601543  ...      61.697565      74.114180
std     121.215824   100.775117  ...      86.162491     104.574143
min       0.000000     0.000000  ...       0.000000       0.000000
25%       0.000000     0.000000  ...       0.000000       0.000000
50%       5.650000     0.100000  ...       0.100000       0.100000
75%     215.800000   140.900000  ...     125.025000     139.800000
max     371.100000   349.000000  ...     299.700000     376.100000

[8 rows x 137 columns]

In [0]:
solar.tail()

                LocalTime  Power(MW)  ...  Power(MW).135  Power(MW).136
5827  2006-08-31 19:00:00        0.0  ...            0.0            0.0
5828  2006-08-31 20:00:00        0.0  ...            0.0            0.0
5829  2006-08-31 21:00:00        0.0  ...            0.0            0.0
5830  2006-08-31 22:00:00        0.0  ...            0.0            0.0
5831  2006-08-31 23:00:00        0.0  ...            0.0            0.0

[5 rows x 138 columns]

In [0]:
solar.rename(columns={'LocalTime':'datetime'}, inplace=True)
solar = solar[['datetime', 'Power(MW)']]
solar.set_index('datetime', drop=False)

                                datetime  Power(MW)
datetime
2006-01-01 00:00:00  2006-01-01 00:00:00        0.0
2006-01-01 01:00:00  2006-01-01 01:00:00        0.0
2006-01-01 02:00:00  2006-01-01 02:00:00        0.0
2006-01-01 03:00:00  2006-01-01 03:00:00        0.0
2006-01-01 04:00:00  2006-01-01 04:00:00        0.0
...                                  ...        ...
2006-08-31 19:00:00  2006-08-31 19:00:00        0.0
2006-08-31 20:00:00  2006-08-31 20:00:00        0.0
2006-08-31 21:00:00  2006-08-31 21:00:00        0.0
2006-08-31 22:00:00  2006-08-31 22:00:00        0.0
2006-08-31 23:00:00  2006-08-31 23:00:00        0.0

[5832 rows x 2 columns]

So, basically the first 1469 values, and last 6 values are just 0, so let's remove those rows, as they may just add bias.

In [0]:
solar = solar.iloc[1470:5826]
solar.describe()

         Power(MW)
count  4356.000000
mean    108.773531
std     125.396285
min       0.000000
25%       0.000000
50%      29.450000
75%     231.725000
max     371.100000

In [0]:
# Extracting the timeseries relevant columns
# solar['day'] = pd.to_datetime(solar['datetime']).map(lambda x: x.day)
solar['month'] = pd.to_datetime(solar['datetime']).map(lambda x: x.month)
solar['weekday'] = pd.to_datetime(solar['datetime']).map(lambda x: x.weekday())
# solar['hour'] = pd.to_datetime(solar['datetime']).map(lambda x: x.hour)

In [0]:
solar.to_csv('selected_solar.csv')
solar.tail()

                 datetime  Power(MW)  month  weekday
5821  2006-08-31 13:00:00      111.3      8        3
5822  2006-08-31 14:00:00      201.1      8        3
5823  2006-08-31 15:00:00      203.8      8        3
5824  2006-08-31 16:00:00      135.5      8        3
5825  2006-08-31 17:00:00       52.9      8        3

In [0]:
# Config file for WanDB sweeps

def make_config_file(file_path, df_len):
  run = wandb.init(project="pretrained-solar-updated")
  wandb_config = wandb.config
  train_number = df_len * .7
  validation_number = df_len *.9
  config_default={                 
    "model_name": "MultiAttnHeadSimple",
    "model_type": "PyTorch",
    "model_params": {
      "number_time_series":3,
      "seq_len":wandb_config["forecast_history"], 
      "output_seq_len":wandb_config["out_seq_length"],
      "forecast_length":wandb_config["out_seq_length"]
     },
    "dataset_params":
    {  "class": "default",
       "training_path": file_path,
       "validation_path": file_path,
       "test_path": file_path,
       "batch_size":wandb_config["batch_size"],
       "forecast_history":wandb_config["forecast_history"],
       "forecast_length":wandb_config["out_seq_length"],
       "train_end": int(train_number),
       "valid_start":int(train_number+1),
       "valid_end": int(validation_number),
       "target_col": ["Power(MW)"],
       "relevant_cols": ["Power(MW)", "month", "weekday"],
       "scaler": "StandardScaler", 
       "interpolate": False
    },
    "training_params":
    {
       "criterion":"MSE",
       "optimizer": "Adam",
       "optim_params":
       {

       },
       "lr": wandb_config["lr"],
       "epochs": 10,
       "batch_size":wandb_config["batch_size"]
    
    },
    "GCS": False,
    
    "sweep":True,
    "wandb":False,
    "forward_params":{},
   "metrics":["MSE"],
   "inference_params":
   {     
         "datetime_start":"2006-08-22",
          "hours_to_forecast":150, 
          "test_csv_path":file_path,
          "decoder_params":{
              "decoder_function": "simple_decode", 
            "unsqueeze_dim": 1
          },
          "dataset_params":{
             "file_path": file_path,
             "forecast_history":wandb_config["forecast_history"],
             "forecast_length":wandb_config["out_seq_length"],
             "relevant_cols": ["Power(MW)", "month", "weekday"],
             "target_col": ["Power(MW)"],
             "scaling": "StandardScaler",
             "interpolate_param": False
          }
      }
  }
  wandb.config.update(config_default)
  return config_default

sweep_config = {
  "name": "Default sweep",
  "method": "grid",
  "parameters": {
        "batch_size": {
            "values": [2, 3, 4]
        },
        "lr":{
            "values":[0.001, 0.01]
        },
        "forecast_history":{
            "values":[1, 2, 3, 5]
        },
        "out_seq_length":{
            "values":[1, 2]
        }
    }
}

In [0]:
# Running the sweep
import wandb
file_path = 'selected_solar.csv'
full_len = len(pd.read_csv(file_path))
sweep_id = wandb.sweep(sweep_config, project="pretrained-solar-updated")
wandb.agent(sweep_id, lambda:train_function("PyTorch", make_config_file(file_path, full_len)))
!gsutil cp -n -r model_save gs://coronaviruspublicdata/pretrained

Similarly, this cell ran too.

**Check out the sweeps here :**  *https://app.wandb.ai/pranjalya/pretrained-solar-updated*